---
layout: default
---
<Link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
        {%- if post.thumbnail -%}
        <a href="{{ post.url | relative_url }}">
          <img src="{{- post.thumbnail | relative_url -}}" alt="" class="post-thumbnail-image">
        </a>
        {%- else -%}
          {%- assign pageImage = "assets/img/Rings02.jpg" -%}
          <a href="{{ page.url | relative_url }}">
            <img src="{{- pageImage | relative_url -}}" alt="" class="post-thumbnail-image">
          </a>
        {%- endif -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!--
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        -->
        <!-- only show experts for posts that have the feeed-excerpt front matter-->
        {%- if post.feed-excerpt -%}
          {{ post.feed-excerpt }}
        {%- endif -%}
        <div class="my-clearfix"></div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
